.paper {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  margin: 50px;
  padding: 50px;
}
.avatar-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.avatar-img {
  width: 30vw;
  height: 30vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 100%;
  object-fit: cover;
}
.title {
  text-align: center;
}
